<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Allowance <small>Education</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{lsprNav.dashboard.path}}">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="{{lsprNav.employee.path}}">Employee</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="{{lsprNav.employee.allowance._action.list}}">Allowance</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Education</a>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="clearfix"></div>

<div class="portlet light bg-inverse">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-th font-red-sunglo"></i>
			<span class="caption-subject font-red-sunglo bold uppercase">Education Allowance</span>
		</div>
	</div>
	<div class="portlet-body form">

		<div class="portlet light">
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Employee Name</label>
							<input type="text" id="firstName" class="form-control" placeholder="John Doe">
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Employee ID</label>
							<input type="text" id="lastName" class="form-control" placeholder="114-254-112-665">
						</div>
					</div>
					<!--/span-->
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Department</label>
							<input type="text" class="form-control" placeholder="Finance">
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Position</label>
							<input type="text" id="lastName" class="form-control" placeholder="Internal Auditor">
						</div>
					</div>
					<!--/span-->
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Request Date</label>
							<input type="text" class="form-control" placeholder="21/02/2015">
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Starting Date</label>
							<input type="text" id="lastName" class="form-control" placeholder="10/11/2004">
						</div>
					</div>
					<!--/span-->
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">

							<input type="text" id="lastName" class="form-control" placeholder="New">
						</div>
					</div>
					<!--/span-->
				</div>
			</div>
		</div>
		<!--/row-->

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-speech"></i>
					<span> Data tanggungan (anak) yang bersekolah :</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									 #
								</th>
								<th>
									 Nama
								</th>
								<th>
									Tanggal Lahir
								</th>
								<th>
									Anak ke-
								</th>
								<th>
									Kelas / sekolah
								</th>
								<th>
									<a href="javascript:;" class="btn btn-icon-only red-sunglo" ng-click="vm.ui.addRow()">
										<i class="fa fa-plus"></i>
									</a>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="row in vm.rows track by $index">
								<td>
									 {{$index+1}}
								</td>
								<td>
									 <input type="text" id="lastName" class="form-control" placeholder="Jane Doe">
								</td>
								<td>
									 <input type="text" id="lastName" class="form-control" placeholder="21/11/2008">
								</td>
								<td>
									 <input type="text" id="lastName" class="form-control" placeholder="1">
								</td>
								<td>
									 <input type="text" id="lastName" class="form-control" placeholder="SD Foo">
								</td>
								<td>
									 <a href="javascript:;" ng-click="vm.ui.removeRow($index)" class="btn btn-icon-only grey-cascade">
										<i class="fa fa-times"></i>
									</a>
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-file-text"></i>
			<span class="caption-subject bold uppercase">Add Attachment</span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-scrollable table-scrollable-borderless">
			<table class="table table-hover table-light">
				<thead>
					<tr class="uppercase">
						<th width="50%">
							<strong>Name</strong>
						</th>
						<th width="50%">
							<strong>Size</strong>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in vm.attachment.files" class="ng-scope">
						<td>
							<strong>{{file.name}}</strong>
						</td>
						<td>
							<strong>{{vm.ui.formatByte(file.size)}}</strong>
						</td>
						<td>
							<a href="javascript:;" ng-click="vm.attachment.remove(file)" class="btn btn-icon-only grey-cascade">
								<i class="fa fa-times"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<hr>

		<div class="row pull-right" style="padding-right: 10px">
			<button type="button" class="btn btn-danger btn-s" ng-click="vm.attachment.removeAll()">
			<span class="glyphicon glyphicon-trash"></span> Remove all
			</button>
			<button type="button" class="btn btn-success btn-s" ngf-select ngf-change="vm.attachment.upload($files)"  ngf-multiple="true">
			<span class="glyphicon glyphicon-plus"></span> Add Attachment
			</button>
		</div>

		<div class="clearfix"></div>
	</div>
</div>

<div class="portlet light bordered">
	<div class="portlet-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-actions right">
						<button type="button" class="btn btn-block default">Cancel</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-actions right">
						<a href="{{lsprNav.employee.profile.path}}" type="submit" class="btn btn-block blue"><i class="fa fa-save"></i> Update</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>