<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	 Company Settings
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{lsprNav.dashboard.path}}">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Settings</a>
		</li>
	</ul>
</div>

<div class="portlet light bg-inverse">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Job Position</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Position Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="Enter Position">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <select class="form-control select2me">
                                <option value="AL">Department 1</option>
                                <option value="WY">Department 2</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Level</label>
                            <select class="form-control select2me">
                                <option value="AL">Level 1</option>
                                <option value="WY">Level 2</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Classification</label>
                            <select class="form-control select2me">
                                <option value="AL">Staff</option>
                                <option value="WY">Managerial</option>
                                <option value="WY">Director</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Report to</label>
                            <input type="text" id="firstName" class="form-control" placeholder="Enter Report to">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Work With (Internal)</label>
                            <input type="text" id="lastName" class="form-control" placeholder="Enter Work With (Internal)">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Work With (External)</label>
                            <input type="text" id="firstName" class="form-control" placeholder="Enter Work With (External)">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Summary of the work</label>
                            <textarea row="5" id="firstName" class="form-control"></textarea>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Main Responsibilities <br/>
                                             <span>
                                                <small>(mention also the objective of each responsibility)
                                                </small>
                                             </span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Authority
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Achievement standard to meet the main responsibilities
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Quality <br/>
                                             <span>
                                                <small>(personal/passion/accuracy/resiliance/leadership/etc.)
                                                </small>
                                             </span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Education
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Experience <br/>
                                             <span>
                                                <small>(mention also the objective of each responsibility)
                                                </small>
                                             </span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Hard Skill <br/>
                                             <span>
                                                <small>(computer,language,mathematics,etc.)
                                                </small>
                                             </span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="20px">
                                             #
                                        </th>
                                        <th>
                                             Soft Skill <br/>
                                             <span>
                                                <small>(interpersonal,interpersonal,etc.)
                                                </small>
                                             </span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Enter description here ...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-block red">
                                <i class="fa fa-plus"></i>
                                 Add More
                            </a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions right">
                <a href="#" type="submit" class="btn blue btn-block"><i class="fa fa-check"></i> Update</a>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
