<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
   Leave Without Pay <small>Detail</small>
</h3>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="{{lsprNav.dashboard.path}}">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="{{lsprNav.attendance.leaveWithoutPay.path}}">Leave Without Pay</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#">Detail</a>
    </li>
  </ul>
</div>
<!-- END PAGE HEADER-->

<div class="portlet light bg-inverse">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-th font-red-sunglo"></i>
      <span class="caption-subject font-red-sunglo bold uppercase">Leave Without Pay Request</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="form-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">NIK</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" ng-model="vm.request.employee" class="form-control" placeholder="Input employee ID">
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Name</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" ng-model="vm.request.employeeName" class="form-control" placeholder="Input employee name">
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Position</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" ng-model="vm.request.jobPosition" class="form-control" placeholder="Input job position">
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Department</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" ng-model="vm.request.department" class="form-control" placeholder="Input department">
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Start Date</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-2">
          <div class="form-group">
            <p class="input-group">
              <input type="text" class="form-control" disabled
                   datepicker-popup="dd-MM-yyyy"
                   is-open="vm.ui.datePickers.dateStart.isOpen"
                   ng-click="vm.ui.datePickers.dateStart.valuationDatePickerOpen($event)"
                   ng-model="vm.ui.datePickers.dateStart.model"
                   min-date="vm.ui.datePickerConfig.minDate" max-date="vm.ui.datePickerConfig.maxDate"
                   show-button-bar="false"
                   datepicker-options="vm.ui.datePickerConfig.options"/>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.ui.datePickers.dateStart.valuationDatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
              </span>
            </p>
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">End Date</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-2">
          <div class="form-group">
            <p class="input-group">
              <input type="text" class="form-control" disabled
                   datepicker-popup="dd-MM-yyyy"
                   is-open="vm.ui.datePickers.dateEnd.isOpen"
                   ng-click="vm.ui.datePickers.dateEnd.valuationDatePickerOpen($event)"
                   ng-model="vm.ui.datePickers.dateEnd.model"
                   min-date="vm.ui.datePickerConfig.minDate" max-date="vm.ui.datePickerConfig.maxDate"
                   show-button-bar="false"
                   datepicker-options="vm.ui.datePickerConfig.options"/>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.ui.datePickers.dateEnd.valuationDatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
              </span>
            </p>
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Start Working Date</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-2">
          <div class="form-group">
            <p class="input-group">
              <input type="text" class="form-control" disabled
                   datepicker-popup="dd-MM-yyyy"
                   is-open="vm.ui.datePickers.dateStartWorking.isOpen"
                   ng-click="vm.ui.datePickers.dateStartWorking.valuationDatePickerOpen($event)"
                   ng-model="vm.ui.datePickers.dateStartWorking.model"
                   min-date="vm.ui.datePickerConfig.minDate" max-date="vm.ui.datePickerConfig.maxDate"
                   show-button-bar="false"
                   datepicker-options="vm.ui.datePickerConfig.options"/>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="vm.ui.datePickers.dateStartWorking.valuationDatePickerOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
              </span>
            </p>
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Reason</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-8">
          <div class="form-group">
            <textarea ng-model="vm.form.employee" rows="4" class="form-control" placeholder=""></textarea>
          </div>
        </div>
        <!--/span-->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Request Note</label>
          </div>
        </div>
        <!--/span-->
        <div class="col-md-8">
          <div class="form-group">
            <textarea ng-model="vm.form.employee" rows="4" class="form-control" placeholder=""></textarea>
          </div>
        </div>
        <!--/span-->

    </div>
  </div>
</div>

<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-file-text font-red-sunglo"></i>
      <span class="caption-subject font-red-sunglo bold uppercase">Attachment</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable table-scrollable-borderless">
      <table class="table table-hover table-light">
        <thead>
          <tr class="uppercase">
            <th width="50%">
              <strong>Name</strong>
            </th>
            <th width="50%">
              <strong>Size</strong>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="file in vm.attachment.files" class="ng-scope">
            <td>
              <strong>{{file.name}}</strong>
            </td>
            <td>
              <strong>{{vm.ui.formatByte(file.size)}}</strong>
            </td>
            <td>
              <a href="javascript:;" ng-click="vm.attachment.remove(file)" class="btn btn-icon-only grey-cascade">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>



    <div class="clearfix"></div>
  </div>
</div>

<div class="portlet light bordered">
  <div class="portlet-body">
    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-actions right">
            <button type="button" class="btn btn-block default">Cancel</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-actions right">
            <a href="/attendance/leave-without-pay" type="submit" class="btn btn-block blue"><i class="fa fa-save"></i> Update</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
