<!-- BEGIN PAGE HEADER-->
<h3 class="page-title company-header">
	 <strong>LONDON SCHOOL</strong> of Public Relations
</h3>
<!-- BEGIN MAIN CONTENT -->

<hr>
<div class="clearfix"></div>
<div class="news-blocks">
	<h3>
		<a href="#">
			<small>[26 August 2015]</small>
			<p>
				LSPR Announcement
			</p>
		</a>
	</h3>
	<div class="news-block-tags">
		<p>
			Lorem ipsum dolor sit amet, volumus recusabo ut est, an mutat illum ponderum eum, cu quidam nostrud constituto pro. Dolor dissentiunt at mel, cu vix malis omnium. Alii nulla salutandi et pri. Nostro diceret pri ut. Nam eu soleat laoreet, lorem sadipscing liberavisse ut vel, his hinc deterruisset cu. Quodsi honestatis per ne.
		</p>
		<p>
			In homero quaeque nec. Dicta prompta nominavi ea sit. Sea eu pericula voluptaria, an nec odio natum habeo. Eius delectus dissentiet qui no. Ad legere fastidii his. Omittam iracundia definitionem ea usu.
		</p>
	</div>
	<a href="#" class="news-block-btn">
	Read more <i class="m-icon-swapright m-icon-black"></i>
	</a>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<div class="tiles pull-right">
			<a href="{{lsprNav.dashboard.settings.path}}">
				<div class="tile bg-red">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i class="fa fa-cogs"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Settings
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
