<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Medical <small>Reimbursement</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{lsprNav.dashboard.path}}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{lsprNav.medical.path}}">Medical</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Request</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<div class="portlet light bg-inverse">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-th font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Medical Reimbursement</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee Name</label>
                        <input type="text" disabled class="form-control" placeholder="John Doe">
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">NIK</label>
                        <input type="text" disabled class="form-control" placeholder="345-2144-756">
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Position</label>
                        <input type="text" disabled class="form-control" placeholder="Internal Auditor">
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Department</label>
                        <input type="text" disabled class="form-control" placeholder="Finance">
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-eyeglasses"></i>
                        <span class="caption-subject bold uppercase">Patient Detail</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="md-checkbox">
                                <input type="checkbox" id="self" class="md-check" ng-model="vm.ui.patient.self">
                                <label for="self">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Self </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="md-checkbox">
                                <input type="checkbox" id="mate" class="md-check" ng-model="vm.ui.patient.mate">
                                <label for="mate">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Istri / Suami </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="md-checkbox">
                                <input type="checkbox" id="child" class="md-check" ng-model="vm.ui.patient.child">
                                <label for="child">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Anak </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="md-checkbox">
                                <input type="checkbox" id="other" class="md-check" ng-model="vm.ui.patient.other">
                                <label for="other">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Lainnya </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" ng-show="vm.ui.patient.child || vm.ui.patient.other">
                        <div class="col-md-12">
                            <select class="form-control select2me" data-placeholder="Select child" ng-show="vm.ui.patient.child">
                                <option value="AL">Child 1</option>
                                <option value="WY">Child 2</option>
                            </select>
                            <div class="form-group" ng-show="vm.ui.patient.other">
                                <label class="control-label">Relation with patient</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Patient Name</label>
                                <input type="text" ng-disabled="vm.ui.patient.self" class="form-control" placeholder="Enter patient name">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Amount</label>
                                <input type="text" disabled class="form-control" placeholder="Enter reimbursement amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">From Plafon</label>
                                <select class="form-control select2me" data-placeholder="Select...">
                                    <option value="AL">Kacamata</option>
                                    <option value="WY">Rawat Inap</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Remaining Amount</label>
                                <input type="text" disabled class="form-control" placeholder="IDR 1.500.000">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-speech"></i>
                        <span class="caption-subject bold uppercase">Request Note</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" maxlength="225" rows="5" placeholder="Enter request note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file-text"></i>
                        <span class="caption-subject bold uppercase">Add Attachment</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="50%">
                                        <strong>Name</strong>
                                    </th>
                                    <th width="50%">
                                        <strong>Size</strong>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in vm.attachment.files" class="ng-scope">
                                    <td>
                                        <strong>{{file.name}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{vm.ui.formatByte(file.size)}}</strong>
                                    </td>
                                    <td>
                                        <a href="javascript:;" ng-click="vm.attachment.remove(file)" class="btn btn-icon-only grey-cascade">
                                        <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="row pull-right" style="padding-right: 10px">
                        <button type="button" class="btn btn-danger btn-s" ng-click="vm.attachment.removeAll()">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                        <button type="button" class="btn btn-success btn-s" ngf-select ngf-change="vm.attachment.upload($files)"  ngf-multiple="true">
                        <span class="glyphicon glyphicon-plus"></span> Add Attachment
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-actions right">
                        <button type="button" class="btn btn-block default">Cancel</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-actions right">
                        <a href="{{lsprNav.employee.profile.path}}" type="submit" class="btn btn-block blue"><i class="fa fa-save"></i> Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>