<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	 Business Trip <small>Create</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{lsprNav.dashboard.path}}">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
        <li>
			<a href="{{lsprNav.training.path}}">Training</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="{{lsprNav.training.businessTrip.path}}">Business Trip</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Create</a>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="portlet light bg-inverse">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-th font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Employee</span>
        </div>
    </div>
	<div class="portlet-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">NIP</label>
						<input type="text" id="firstName" class="form-control" placeholder="5411123456">
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Employee Name</label>
						<input type="text" ng-model="vm.form.employee" class="form-control" placeholder="Jane Doe">
					</div>
				</div>
				<!--/span-->
			</div>
		</div>
	</div>
</div>

<div class="portlet light bg-inverse">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-th font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Detail</span>
        </div>
    </div>
	<div class="portlet-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Tujuan</label>
						<input type="text" id="firstName" class="form-control" placeholder="">
					</div>
				</div>
				<!--/span-->
            </div>
            <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Start Date</label>
                        <p class="input-group">
                          <input type="text" class="form-control" disabled
                               datepicker-popup="dd-MM-yyyy"
                               is-open="vm.ui.datePickers.dateStart.isOpen"
                               ng-click="vm.ui.datePickers.dateStart.valuationDatePickerOpen($event)"
                               ng-model="vm.ui.datePickers.dateStart.model"
                               min-date="vm.ui.datePickerConfig.minDate" max-date="vm.ui.datePickerConfig.maxDate"
                               show-button-bar="false"
                               datepicker-options="vm.ui.datePickerConfig.options"/>
                          <span class="input-group-btn">
                          <button type="button" class="btn btn-default"
                                  ng-click="vm.ui.datePickers.dateStart.valuationDatePickerOpen($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                          </span>
                        </p>
					</div>
				</div>
                <div class="col-md-6">
					<div class="form-group">
						<label class="control-label">End Date</label>
                        <p class="input-group">
                          <input type="text" class="form-control" disabled
                               datepicker-popup="dd-MM-yyyy"
                               is-open="vm.ui.datePickers.dateEnd.isOpen"
                               ng-click="vm.ui.datePickers.dateEnd.valuationDatePickerOpen($event)"
                               ng-model="vm.ui.datePickers.dateEnd.model"
                               min-date="vm.ui.datePickerConfig.minDate" max-date="vm.ui.datePickerConfig.maxDate"
                               show-button-bar="false"
                               datepicker-options="vm.ui.datePickerConfig.options"/>
                          <span class="input-group-btn">
                          <button type="button" class="btn btn-default"
                                  ng-click="vm.ui.datePickers.dateEnd.valuationDatePickerOpen($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                          </span>
                        </p>
					</div>
				</div>
				<!--/span-->
			</div>
		</div>
	</div>
</div>

<div class="portlet box red bg-inverse">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-file-text-o"></i>
			<span class="caption-subject bold uppercase">Add Attachment</span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="table-scrollable table-scrollable-borderless">
			<table class="table table-hover table-light">
				<thead>
					<tr class="uppercase">
						<th width="50%">
							<strong>Name</strong>
						</th>
						<th width="50%">
							<strong>Size</strong>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in vm.attachment.files" class="ng-scope">
						<td>
							<strong>{{file.name}}</strong>
						</td>
						<td>
							<strong>{{vm.ui.formatByte(file.size)}}</strong>
						</td>
						<td>
							<a href="javascript:;" ng-click="vm.attachment.remove(file)" class="btn btn-icon-only grey-cascade">
								<i class="fa fa-times"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<hr>

		<div class="row pull-right" style="padding-right: 10px">
			<button type="button" class="btn btn-danger btn-s" ng-click="vm.attachment.removeAll()">
			<span class="glyphicon glyphicon-trash"></span> Remove all
			</button>
			<button type="button" class="btn btn-success btn-s" ngf-select ngf-change="vm.attachment.upload($files)"  ngf-multiple="true">
			<span class="glyphicon glyphicon-plus"></span> Add Attachment
			</button>
		</div>

		<div class="clearfix"></div>

	</div>
</div>

<div class="portlet light bordered">
	<div class="portlet-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-actions right">
						<button type="button" class="btn btn-block default">Cancel</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-actions right">
						<a href="/employee/tunjangan-pendidikan" type="submit" class="btn btn-block blue"><i class="fa fa-save"></i> Submit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
