<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Requisition <small>Create</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{vm.na.ROOT}}">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="{{vm.nav.RECRUITMENT}}">Recruitment</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="{{vm.nav.RECRUITMENT_REQUISITION}}">Requisition</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="{{vm.nav.RECRUITMENT_REQUISITION_CREATE}}">Create</a>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="portlet light bg-inverse">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-th font-red-sunglo"></i>
			<span class="caption-subject font-red-sunglo bold uppercase">Create Employee Requisition</span>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form action="{{lsprNav.recruitment.requisition.path}}" class="horizontal-form">
			<div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Requested By</label>
							<input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Department</label>
							<input type="text" id="lastName" class="form-control" placeholder="Lim">
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Date of Request</label>
							<input type="text" class="form-control" placeholder="dd/mm/yyyy">
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Close Date<span class="required"> *</span></label>
							<input type="text" class="form-control" placeholder="dd/mm/yyyy">
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">

							<label class="control-label">Position<span class="required"> *</span></label>
							<div class="input-group">
								<select class="form-control select2me" data-placeholder="Select...">
									<option value="AL">Position 1</option>
									<option value="WY">Position 2</option>
								</select>
								<span class="input-group-addon" tooltips title="Add Position">
									<a href="{{lsprNav.recruitment.settings.path}}">
										<i class="fa fa-plus"></i>
									</a>
								</span>
							</div>

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Requisition Type<span class="required"> *</span></label>
							<select class="select2_category form-control" data-placeholder="Choose a Category" tabindex="1">
								<option value="Category 1">Staff</option>
								<option value="Category 2">Lecturer</option>
							</select>
						</div>
					</div>
				</div>
				<!--/row-->
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-speech"></i>
							<span class="caption-subject bold uppercase"> Reason</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-12 ">
								<div class="form-group">
									<label class="control-label">Reason for Request</label>
									<div class="md-checkbox-inline">
										<div class="md-checkbox">
											<input type="checkbox" id="checkbox6" ng-model="vm.requisitionForm.new"  class="md-check">
											<label for="checkbox6">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											New </label>
										</div>
										<div class="md-checkbox">
											<input type="checkbox" id="checkbox7" ng-model="vm.requisitionForm.replacement" class="md-check" checked>
											<label for="checkbox7">
											<span></span>
											<span class="check"></span>
											<span class="box"></span>
											Replacement </label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="vm.requisitionForm.replacement">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Employee Name</label>
									<input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-speech"></i>
							<span class="caption-subject bold uppercase"> Hard Skills</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Main Responsibilities<span class="required"> *</span></label>
									<table class="table table-striped">
										<tbody>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
										</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-speech"></i>
							<span class="caption-subject bold uppercase"> Soft Skills</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Main Responsibilities<span class="required"> *</span></label>
									<table class="table table-striped">
										<tbody>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
										</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-speech"></i>
							<span class="caption-subject bold uppercase"> Requirement</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Fields of Study (for Lecturer)<span class="required"> *</span></label>
									<input type="text" id="firstName" class="form-control" placeholder="Enter Field of Study">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Experience<span class="required"> *</span></label>
									<table class="table table-striped">
										<tbody>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Education<span class="required"> *</span></label>
									<table class="table table-striped">
										<tbody>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
										</tbody>
								</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Main Responsibilities<span class="required"> *</span></label>
									<table class="table table-striped">
										<tbody>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
											<tr>
												<td>
													<input disabled type="text" class="form-control" placeholder="">
												</td>
											</tr>
										</tbody>
								</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Special Qualification<span class="required"> *</span></label>
									<textarea id="maxlength_textarea" class="form-control" maxlength="225" rows="5" placeholder="Special Qualification"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions right">
				<button type="button" class="btn default">Cancel</button>
				<button type="submit" class="btn blue"><i class="fa fa-save"></i> Submit</button>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>