<div class="row">
	<div class="col-md-12 page-404">
		<div class="images">
			 <img src="/layout/theme/img/logo/logo.png">
		</div>
		<div class="application">
			<h3>LSPR Employee Application</h3>
			<form action="/application/37ce01adfd18e53c120194c43e309ecf33ac31a9a64d034dd083730eb5ba898c">
				<div class="input-group input-large">
					<input type="text" class="form-control" placeholder="Type application key">				<span class="input-group-btn">
					<button type="submit" class="btn blue"><i class="fa fa-arrow-right"></i></button>
					</span>
				</div>
				<!-- /input-group -->
			</form>
		</div>
	</div>
</div>
