<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	 Training
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{lsprNav.dashboard.path}}">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Training</a>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
		<div class="tiles pull-left">
			<a href="{{lsprNav.training.internal._action.create}}">
				<div class="tile bg-blue-madison">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i class="fa fa-star"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Create Internal training
						</div>
					</div>
				</div>
			</a>
			<a href="{{lsprNav.training.external._action.create}}">
				<div class="tile bg-blue-madison">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i class="fa fa-star-o"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Create External Training
						</div>
					</div>
				</div>
			</a>
			<a href="{{lsprNav.training.schedule.path}}">
				<div class="tile bg-blue-madison">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i class="fa fa-calendar"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Calendar
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="tiles pull-right">
			<a href="{{lsprNav.training.settings.path}}">
				<div class="tile bg-red">
					<div class="corner">
					</div>
					<div class="check">
					</div>
					<div class="tile-body">
						<i class="fa fa-cogs"></i>
					</div>
					<div class="tile-object">
						<div class="name">
							 Settings
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue-madison">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number">
					124
				</div>
				<div class="desc">
					Total Training
				</div>
			</div>
			<a class="more" href="#">
			View more <i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat red-intense">
			<div class="visual">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="details">
				<div class="number">
					12
				</div>
				<div class="desc">
					New Internal Training
				</div>
			</div>
			<a class="more" href="#">
			View more <i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green-haze">
			<div class="visual">
				<i class="fa fa-shopping-cart"></i>
			</div>
			<div class="details">
				<div class="number">
					14
				</div>
				<div class="desc">
					New External Training
				</div>
			</div>
			<a class="more" href="#">
			View more <i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat purple-plum">
			<div class="visual">
				<i class="fa fa-globe"></i>
			</div>
			<div class="details">
				<div class="number">
					1245
				</div>
				<div class="desc">
					Attendees
				</div>
			</div>
			<a class="more" href="#">
			View more <i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
</div>