<!-- BEGIN HEADER INNER -->
<div class="page-header-inner" ng-controller="HeaderCtrl as vm">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="/"  style="text-decoration: none">
		<img src="/layout/theme/img/logo/logo-30.png" alt="logo" class="logo-default"/>
			<span>
				<strong>LONDON SCHOOL</strong>
				 of Public Relations
			</span>
		</a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">

	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN TOP NAVIGATION MENU -->
	<div class="top-menu">
		<ul class="nav navbar-nav pull-right">
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-
			extended" to change the dropdown styte -->
			<li class="dropdown dropdown-user">
				<a href="{{lsprNav.employee.profile.path}}" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
				<span class="username username-hide-on-mobile">
				<strong>0973027</strong> -- John Doe </span>
				<!-- <i class="fa fa-angle-down"></i> -->
				</a>
				<!-- <ul class="dropdown-menu dropdown-menu-default">
					<li>
						<a href="{{lsprNav.employee.profile.path}}">
						<i class="icon-user"></i>Profile</a>
					</li>
				</ul> -->
			</li>
			<li class="dropdown dropdown-quick-sidebar-toggler">
				<a ng-click="vm.logout()" class="dropdown-toggle">
				<i class="fa fa-power-off"></i>
				</a>
			</li>
		</ul>
	</div>
	<!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->
