<div class="page-quick-sidebar">
	<div class="nav-justified">
		<ul class="nav nav-tabs nav-justified">
			<li class="active">
				<a href="#quick_sidebar_tab_1" data-toggle="tab">
				Check-In
				</a>
			</li>
			<li>
				<a href="#quick_sidebar_tab_2" data-toggle="tab">
				Check-Out
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
				<div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
					<ul class="media-list list-items">
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">08:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar3.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Bob Nilson</h4>
								<div class="media-heading-sub">
									 IT
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">10:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar1.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Nick Larson</h4>
								<div class="media-heading-sub">
									 HRD
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">09:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar4.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Deon Hubert</h4>
								<div class="media-heading-sub">
									 Talen and Development
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-danger">10:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar2.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Ella Wong</h4>
								<div class="media-heading-sub">
									 Finance
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">08:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar10.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<div class="media-heading-sub">
									 Accounting
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">08:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar3.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Bob Nilson</h4>
								<div class="media-heading-sub">
									 IT
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">10:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar1.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Nick Larson</h4>
								<div class="media-heading-sub">
									 HRD
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">09:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar4.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Deon Hubert</h4>
								<div class="media-heading-sub">
									 Talen and Development
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-danger">10:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar2.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Ella Wong</h4>
								<div class="media-heading-sub">
									 Finance
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">08:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar10.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<div class="media-heading-sub">
									 Accounting
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">08:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar3.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Bob Nilson</h4>
								<div class="media-heading-sub">
									 IT<a href="extra_profile.html">view all</a>
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">10:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar1.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Nick Larson</h4>
								<div class="media-heading-sub">
									 HRD
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">09:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar4.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Deon Hubert</h4>
								<div class="media-heading-sub">
									 Talen and Development
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-danger">10:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar2.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Ella Wong</h4>
								<div class="media-heading-sub">
									 Finance
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">08:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar10.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<div class="media-heading-sub">
									 Accounting
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-pane page-quick-sidebar-chat" id="quick_sidebar_tab_2">
				<div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
					<ul class="media-list list-items">
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-danger">16:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar2.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Ella Wong</h4>
								<div class="media-heading-sub">
									 Finance
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">18:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar10.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<div class="media-heading-sub">
									 Accounting
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">19:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar3.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Bob Nilson</h4>
								<div class="media-heading-sub">
									 IT
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">20:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar1.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Nick Larson</h4>
								<div class="media-heading-sub">
									 HRD
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">15:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar4.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Deon Hubert</h4>
								<div class="media-heading-sub">
									 Talen and Development
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-danger">11:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar2.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Ella Wong</h4>
								<div class="media-heading-sub">
									 Finance
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">15:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar10.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<div class="media-heading-sub">
									 Accounting
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">15:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar3.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Bob Nilson</h4>
								<div class="media-heading-sub">
									 IT
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">10:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar1.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Nick Larson</h4>
								<div class="media-heading-sub">
									 HRD
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">09:10</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar4.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Deon Hubert</h4>
								<div class="media-heading-sub">
									 Talen and Development
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-danger">10:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar2.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Ella Wong</h4>
								<div class="media-heading-sub">
									 Finance
								</div>
							</div>
						</li>
						<li class="media">
							<div class="media-status">
								<span class="label label-sm label-success">08:04</span>
							</div>
							<img class="media-object" src="/layout/theme/img/avatar10.jpg" alt="...">
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<div class="media-heading-sub">
									 Accounting
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>